body {
    background-color: rgb(83, 83, 83);
  }
  
  h1 {
    color: rgb(206, 206, 206);;
    margin-top: 20px;
    padding: 1%;
    margin: 50px;
    font-family: 'Raleway', sans-serif;

  }

#p5Canvas{
    padding: 1%;
    margin: 50px;
    
    display: block;
    z-index: -9999;
    top:0;
    left:0;
  
  }
  
img{
width: 40%;
padding-top: 2%;
padding-left: 2%;


}
h3{
  color: rgb(206, 206, 206);;
  margin: 50px;
  padding: 1%;
  
  font-family: 'Raleway', sans-serif;
}