body {
    background-color: rgb(83, 83, 83);
  }
  
  h1 {
    color: rgb(206, 206, 206);;
    margin-top: 20px;
    padding: 2%;
    margin: 50px;
    font-family: 'Raleway', sans-serif;
  

  }


  
img{
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
padding: 10px;




}
h3{
  color: rgb(206, 206, 206);;

  padding: 1%;
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}